<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:include="./include/Head.html"></th:block>
<title>商品維護</title>
<style type="text/css">
	.fieldError{color: red;}
</style>
<script type="text/javascript">

 function disp_confirm(){
	 var msg = "是否要重置表單";
	 if(confirm(msg)==true){
		 return true;
	 }else{
		 return false;
	 }
	 
 }
 
 function del(){
	 var r = confirm("是否要刪除");
	 if(r==true){
		 return true;
	 }else{
		 return false; 
	 }
 }

</script>
</head>
<body>
	<div class="container my-2">
		<div th:include="./include/header.html"></div>
		<h1>Product 維護</h1>
		<form action="#" 
			  th:action="@{/product/}"  
			  th:object="${product}"
			  th:method="${_method}">
			<div class="form_group">
				<!-- id 隱藏欄位 -->
				<input type="hidden" th:field="*{id}"/>
				
				<label for="name">商品名稱：</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></span>
				<input type="text" th:field="*{name}" class="form-control" />
				
				<label for="cost">商品成本：</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{cost}')}" th:errors="*{cost}"></span>
				<input type="number" th:field="*{cost}" class="form-control" />
				
				<label for="price">商品價格：</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{price}')}" th:errors="*{price}"></span>
				<input type="number" th:field="*{price}" class="form-control" />
			 
			    <label for="remark">備註：</label>
				<textarea th:field="*{remark}" cols="50" rows="5" class="form-control">
　                 商品備註
                </textarea>
			    
			 </div>
			<br />
			<input type="submit" th:value="${buttonName}" class="btn btn-primary" />
			<input type="reset" onclick="javascript:return disp_confirm()"  value="重置" class="btn btn-danger">
		</form>
		<p />
		<h1>Product 列表</h1>
		<table border="1" class="table table-striped table-responsive-md">
		  <thead>
		   <tr>
		    <th>序號</th>
		    <th>商品</th>
		    <th>成本</th>
		    <th>售價</th>
		    <th>備註</th>
		    <th>修改</th>
		    <th>刪除</th>
		   </tr>
		  </thead>
		  <tbody>
		   <tr th:each="product : ${products}">
		    <td th:text="${product.id}"></td>
		    <td th:text="${product.name}"></td>
		    <td th:text="${product.cost}"></td>
		    <td th:text="${product.price}"></td>
		    <td th:text="${product.remark}"></td>
		    <td>
		     <a th:href="@{/product/{id}(id=${product.id})}">修改</a>
		    </td>
		    <td>
		     <a th:href="@{/product/delete/{id}(id=${product.id})}" onclick="del()">刪除</a>
		    </td>
		   </tr>
		  </tbody>
		</table>
		<div th:include="./include/footer.html"></div>
 </div>		
</body>
</html>